//
// @file
// Views specific styles.
//
// If styles can be used across views, they should
// go in elements/_lists.scss instead.
// ----------------------------------------------------------------------------
.view-header {
  .dcco-sponsors-header {
    width: 100%;
    text-align: left;
    margin: -30px 0 10px 0;
    a {
      padding: 0.5em 1em 0.5em 0;
    }
  }
  @include breakpoint($tablet, $no-query: '.lt-ie9') {
    .dcco-sponsors-header {
      width: 50%;
      float: right;
      text-align: right;
      margin: -68px 0 10px 0;
      a {
        padding: 0.5em 0em 0.5em 1em;
      }
    }
  }
}

.view-sponsors {
  padding-bottom: 15px;

  .view-header {
    border-bottom: $teal-lightest solid 3px;

    h2 {
      margin-bottom: 15px;
    }
  }

  .item-list {
    ul {
      padding: 0;
      $gutters: 0;

      @include nup-container($gutters);

      li {
        display: table;
        list-style: none;
        text-align: center;
        /*@todo: add some real gutter space, currently it pushes the grid apart */
        $gutters: 0;
        $columns: 2;

        @include nup-base($gutters, $columns);
        @include nup-item($columns);

        .views-field {
          display: table-cell;
          vertical-align: middle;
        }

        @include breakpoint($tablet) {
          $gutters: 0;
          $columns: 4;
          @include nup-base($gutters, $columns);
          @include nup-item($columns);
        }
      }
    }
  }
}
